# HARSHITA SAXENA
## ROLL NO: 102003497
## BATCH- 3COE-20

Loading of Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
uploaded= files.upload()

Saving Creditcard_data.csv to Creditcard_data.csv

In [3]:
df=pd.read_csv('Creditcard_data.csv')

In [4]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

Performing oversampling by applying SMOTE

In [5]:
x_res=df.iloc[:, df.columns!= 'Class']
y_res=df.iloc[:,df.columns=='Class']

In [6]:
from imblearn.over_sampling import SMOTE

In [7]:
sample=SMOTE()
x_res,y_res=sample.fit_resample(x_res,y_res)

In [8]:
x_res

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.620000
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.690000
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.660000
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.500000
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.990000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,321,-0.818809,-0.759643,1.318897,0.555979,1.528106,0.398952,-0.739009,0.418646,0.342389,...,0.242099,0.108384,0.296667,0.214179,-1.145904,-0.885825,0.413397,0.078431,0.057553,1.209413
1522,557,0.856508,0.370880,0.570176,0.597400,-0.114735,-1.036924,0.238314,-0.200442,-0.014284,...,-0.081948,-0.222024,-0.618376,0.056880,0.350884,0.252324,-0.006241,-0.037288,0.002180,1.236770
1523,515,-1.399042,0.197461,1.419175,-0.305034,0.939795,-0.547006,0.524602,0.016117,-0.045903,...,-0.047824,-0.076531,0.006291,-0.260240,0.023458,-0.030832,-0.050488,-0.244301,-0.275564,1.000000
1524,260,-0.882419,1.112372,-0.374211,1.670787,0.283976,-0.420874,-0.839095,0.641215,-1.183670,...,0.024529,0.130078,-0.242943,-0.095898,-0.689153,-0.814663,0.116453,0.243528,0.080538,0.593325
1525,202,-0.145919,0.228741,0.665085,0.223408,0.996344,0.287743,0.041734,0.208139,-0.008600,...,0.026412,-0.070446,-0.215067,0.166544,-1.310346,-1.265330,0.158522,0.194049,0.187725,1.043953

In [9]:
x_res['Class']=y_res

In [10]:
x_res

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.620000,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.690000,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.660000,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.500000,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.990000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,321,-0.818809,-0.759643,1.318897,0.555979,1.528106,0.398952,-0.739009,0.418646,0.342389,...,0.108384,0.296667,0.214179,-1.145904,-0.885825,0.413397,0.078431,0.057553,1.209413,1
1522,557,0.856508,0.370880,0.570176,0.597400,-0.114735,-1.036924,0.238314,-0.200442,-0.014284,...,-0.222024,-0.618376,0.056880,0.350884,0.252324,-0.006241,-0.037288,0.002180,1.236770,1
1523,515,-1.399042,0.197461,1.419175,-0.305034,0.939795,-0.547006,0.524602,0.016117,-0.045903,...,-0.076531,0.006291,-0.260240,0.023458,-0.030832,-0.050488,-0.244301,-0.275564,1.000000,1
1524,260,-0.882419,1.112372,-0.374211,1.670787,0.283976,-0.420874,-0.839095,0.641215,-1.183670,...,0.130078,-0.242943,-0.095898,-0.689153,-0.814663,0.116453,0.243528,0.080538,0.593325,1
1525,202,-0.145919,0.228741,0.665085,0.223408,0.996344,0.287743,0.041734,0.208139,-0.008600,...,-0.070446,-0.215067,0.166544,-1.310346,-1.265330,0.158522,0.194049,0.187725,1.043953,1

### RANDOM SAMPLING

In [11]:
sample_df=x_res.sample(1067)

In [12]:
x=sample_df.iloc[:, sample_df.columns!= 'Class']
y=sample_df.iloc[:,sample_df.columns=='Class']

Splitting the data in test and train data

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

Using Naive Bayes algorithm

In [14]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(x_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [15]:
y_pred  =  classifier.predict(x_test)
print(y_pred)

[1 1 0 1 1 1 1 0 1 1 0 0 1 1 1 0 0 0 0 0 0 1 1 1 0 1 0 1 1 1 1 1 1 1 1 1 1
 1 0 1 1 1 1 0 0 1 1 0 0 1 1 0 1 0 0 1 0 1 1 0 1 0 1 1 0 1 1 0 1 1 1 0 1 1
 0 0 1 0 0 1 1 1 0 0 1 0 1 0 1 1 1 0 0 1 0 1 1 1 1 1 0 1 1 0 1 1 0 1 0 0 0
 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 0 0 1 1 0 1 1 0 1 0 1 0 1 0 1 0 0 1 0 1
 1 0 0 1 1 1 1 1 0 1 0 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 0 1 1 0 0 1 0 0 1
 0 0 0 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1]

In [16]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)
print(score)

0.8457943925233645

In [17]:
from sklearn.ensemble import RandomForestClassifier

Random Forest Classifier

In [18]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)

<ipython-input-18-ce55d9827ec2>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

RandomForestClassifier()

In [19]:
y_pred2  =  rf.predict(x_test)
print(y_pred2)

[0 1 0 1 0 1 1 0 1 1 0 0 1 1 1 0 0 0 0 0 0 1 1 1 0 1 0 0 1 1 1 1 0 1 1 1 1
 1 0 1 1 0 1 0 0 1 1 0 0 1 0 1 0 0 0 1 0 1 1 0 1 0 0 0 0 1 1 0 1 1 1 0 0 0
 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 1 1 0 0 1 0 1 0 1 1 0 0 0 1 0 1 1 0 1 0 0 0
 1 1 1 1 1 1 1 1 1 0 0 0 0 0 1 0 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 1 0 0 1 0 0
 1 0 0 1 1 1 1 1 0 0 0 1 1 1 1 0 0 1 1 1 0 0 1 1 1 1 1 1 0 1 1 1 0 1 0 0 1
 0 0 0 1 0 1 1 0 1 0 1 1 1 0 1 1 1 1 0 1 0 1 0 1 1 1 1 1 1]

In [20]:
score2=accuracy_score(y_pred2,y_test)
print(score2)

0.9953271028037384

Logistic Regression

In [21]:
from sklearn import linear_model
logr = linear_model.LogisticRegression()
logr.fit(x_train, y_train)
logr_pred = logr.predict(x_test)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [22]:
score3=accuracy_score(logr_pred,y_test)
print(score3)

0.9439252336448598

Decision tree classifier

In [23]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)
y_pred3 = clf.predict(x_test)

In [24]:
score4=accuracy_score(y_pred3,y_test)
print(score4)

0.9672897196261683

KNN

In [25]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=7)

In [26]:
pred4=knn.predict(x_test)

In [27]:
score5=accuracy_score(pred4,y_test)
print(score5)

0.8457943925233645

Storing all accuracies in a list

In [28]:
simple_sampling=[score,score2,score3,score4,score5]
simple_sampling

[0.8457943925233645,
 0.9953271028037384,
 0.9439252336448598,
 0.9672897196261683,
 0.8457943925233645]

### STRATIFIED SAMPLING

In [29]:
strat=x_res.groupby('Class', group_keys=False).apply(lambda x: x.sample(392,replace=True))

In [30]:
x=strat.iloc[:, strat.columns!= 'Class']
y=strat.iloc[:,strat.columns=='Class']

In [31]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

Naive Bayes

In [32]:
classifier = GaussianNB()
classifier.fit(x_train, y_train)
y_pred6  =  classifier.predict(x_test)
score6=accuracy_score(y_pred6,y_test)
print(score6)

0.8980891719745223

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Random forest

In [33]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred7  =  rf.predict(x_test)
score7=accuracy_score(y_pred7,y_test)
print(score7)

<ipython-input-33-1d3c061d01e8>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

0.9936305732484076

Logistic regression

In [34]:
logr = linear_model.LogisticRegression()
logr.fit(x_train, y_train)
pred8 = logr.predict(x_test)
score8=accuracy_score(pred8,y_test)
print(score8)

0.9490445859872612

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Decision Tree Classifier

In [35]:
clf = DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)
y_pred9 = clf.predict(x_test)
score9=accuracy_score(y_pred9,y_test)
print(score9)

0.9872611464968153

KNN

In [36]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train, y_train)
pred10=knn.predict(x_test)
score10=accuracy_score(pred10,y_test)
print(score10)

0.7770700636942676

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [37]:
stratified_sampling=[score6,score7,score8,score9,score10]
stratified_sampling

[0.8980891719745223,
 0.9936305732484076,
 0.9490445859872612,
 0.9872611464968153,
 0.7770700636942676]

### SYSTEMATIC SAMPLING

In [38]:
def systematic_sampling(df, step):
    indexes = np.arange(0, len(df), step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample
data = systematic_sampling(x_res, 2)

In [39]:
x = data.iloc[:,data.columns!='Class']
y = data.iloc[:,data.columns=='Class']

In [40]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

Naive Bayes

In [41]:
classifier = GaussianNB()
classifier.fit(x_train, y_train)
y_pred11  =  classifier.predict(x_test)
score11=accuracy_score(y_pred11,y_test)
print(score11)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7843137254901961

Random forest

In [42]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred12  =  rf.predict(x_test)
score12=accuracy_score(y_pred12,y_test)
print(score12)

<ipython-input-42-68eeb7eca8f7>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

0.9934640522875817

Logistic regression

In [43]:
logr = linear_model.LogisticRegression()
logr.fit(x_train, y_train)
pred13 = logr.predict(x_test)
score13=accuracy_score(pred13,y_test)
print(score13)

0.8823529411764706

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Decision Tree Classifier

In [44]:
clf = DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)
y_pred14 = clf.predict(x_test)
score14=accuracy_score(y_pred14,y_test)
print(score14)

0.9607843137254902

KNN

In [45]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train, y_train)
pred15=knn.predict(x_test)
score15=accuracy_score(pred15,y_test)
print(score15)

0.8300653594771242

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [46]:
systematic_sampling=[score11,score12,score13,score14,score15]
systematic_sampling

[0.7843137254901961,
 0.9934640522875817,
 0.8823529411764706,
 0.9607843137254902,
 0.8300653594771242]

### CLUSTER SAMPLING

In [47]:
def get_clustered_Sample(df, n_per_cluster, num_select_clusters):
    N = len(df)
    K = int(N/n_per_cluster)
    data = None
    for k in range(K):
        sample_k = df.sample(n_per_cluster)
        sample_k["cluster"] = np.repeat(k,len(sample_k))
        df = df.drop(index = sample_k.index)
        data = pd.concat([data,sample_k],axis = 0)
    random_chosen_clusters = np.random.randint(0,K,size = num_select_clusters)
    samples = data[data.cluster.isin(random_chosen_clusters)]
    return(samples)
cluster_data = get_clustered_Sample(df = x_res, n_per_cluster = 109, num_select_clusters = 7)
cluster_data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,Amount,Class,cluster
1460,518,-1.753519,-1.828918,2.299909,0.919518,2.117489,0.249824,-1.421613,0.570678,0.705208,...,0.984848,0.169806,-0.570894,-0.078706,0.558135,-0.119975,-0.160626,1.384824,1,0
1218,508,-1.503269,-1.153713,2.130501,0.696125,1.768504,-0.099079,-0.724119,0.350189,0.448320,...,0.771573,0.040116,-0.280975,0.063733,0.251325,-0.115268,-0.150057,1.268155,1,0
1275,565,0.548782,0.290919,0.515166,0.371864,-0.055314,-0.883949,0.135633,-0.127269,0.016587,...,-0.671923,0.035496,0.205754,0.089530,0.128919,-0.098598,-0.067130,1.221385,1,0
373,272,0.867479,-1.102252,0.608959,0.826675,-1.246214,0.072492,-0.509153,0.087330,-0.464954,...,-0.556613,-0.110148,0.025722,0.263809,-0.324195,0.042550,0.063652,208.380000,0,0
308,222,-0.352704,0.975517,1.603365,-0.282475,0.480561,-0.222647,0.850194,-0.265018,-0.283460,...,-0.062304,-0.231531,-0.412572,-0.180927,0.201127,0.178832,-0.034650,7.810000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,528,1.358535,-0.443057,0.700476,-0.734666,-1.138176,-0.830189,-0.637162,-0.074408,-1.078981,...,-0.219789,0.147941,0.517099,0.186110,-0.510075,0.009997,0.014218,3.710000,0,9
999,491,-1.104902,-0.078872,1.860826,0.340511,1.212963,-0.654487,0.386202,-0.000803,0.039387,...,0.432067,-0.166334,0.180541,0.290477,-0.237077,-0.107774,-0.133233,1.082433,1,9
958,441,-1.554701,1.615185,-1.203121,3.296119,-0.487304,-1.350354,-1.978962,1.051729,-2.179222,...,-0.201752,-0.339406,0.325064,0.081993,0.160132,0.201023,-0.106307,0.273732,1,9
1337,136,0.771206,0.432479,0.363658,0.456402,0.117560,-0.529097,0.172572,-0.062674,-0.029620,...,-0.648131,0.137471,-0.357994,-0.441201,0.086805,0.081093,0.112483,1.993969,1,9
387,283,0.948032,0.318725,0.730591,2.583975,-0.206465,-0.213180,0.220329,-0.062070,-0.868018,...,-0.069830,0.004094,0.396459,0.295033,-0.076226,-0.004448,0.041688,94.500000,0,9

In [48]:
x = cluster_data.iloc[:,cluster_data.columns!='Class']
y = cluster_data.iloc[:,cluster_data.columns=='Class']

In [49]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

Naive Bayes

In [50]:
classifier = GaussianNB()
classifier.fit(x_train, y_train)
y_pred16  =  classifier.predict(x_test)
score16=accuracy_score(y_pred16,y_test)
print(score16)

0.803921568627451

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Random Forest

In [51]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred17  =  rf.predict(x_test)
score17=accuracy_score(y_pred17,y_test)
print(score17)

<ipython-input-51-6783f2b48473>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

0.9934640522875817

Logistic Regression

In [52]:
logr = linear_model.LogisticRegression()
logr.fit(x_train, y_train)
pred18 = logr.predict(x_test)
score18=accuracy_score(pred18,y_test)
print(score18)

0.8758169934640523

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Decision Tree Classifier

In [53]:
clf = DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)
y_pred19 = clf.predict(x_test)
score19=accuracy_score(y_pred19,y_test)
print(score19)

0.9477124183006536

KNN

In [54]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train, y_train)
pred20=knn.predict(x_test)
score20=accuracy_score(pred20,y_test)
print(score20)

0.8235294117647058

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [55]:
cluster_sampling=[score16,score17,score18,score19,score20]
cluster_sampling

[0.803921568627451,
 0.9934640522875817,
 0.8758169934640523,
 0.9477124183006536,
 0.8235294117647058]

### Multi stage sampling

In [62]:
def get_clustered_Sample(df, n_per_cluster, num_select_clusters):
    N = len(df)
    K = int(N/n_per_cluster)
    data = None
    for k in range(K):
        sample_k = df.sample(n_per_cluster)
        sample_k["cluster"] = np.repeat(k,len(sample_k))
        df = df.drop(index = sample_k.index)
        data = pd.concat([data,sample_k],axis = 0)
    random_chosen_clusters = np.random.randint(0,K,size = num_select_clusters)
    samples = data[data.cluster.isin(random_chosen_clusters)]
    return(samples)
cluster_data2 = get_clustered_Sample(df = x_res, n_per_cluster = 109, num_select_clusters = 7)
cluster_data2=cluster_data2.sample(628, replace='True')

In [63]:
cluster_data2

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,Amount,Class,cluster
1097,536,-1.703495,0.067695,1.211043,-0.620317,0.922604,-0.318161,0.295488,0.127765,0.016296,...,-0.171541,-0.261710,-0.210512,-0.303604,0.210271,-0.334710,-0.372403,1.000000,1,6
731,550,-1.203351,1.774641,0.299300,-0.418265,0.484617,0.071523,0.046899,-1.492543,0.308865,...,-1.561118,0.054078,-1.119103,0.145057,0.182843,0.528716,0.218048,2.670000,0,11
1396,281,0.279639,0.371690,0.945214,0.465070,0.226229,-0.994641,0.440719,-0.182175,-0.044044,...,-0.334966,-0.044388,0.359959,0.294204,-0.150369,-0.059584,-0.039096,1.934978,1,3
25,22,-2.074295,-0.121482,1.322021,0.410008,0.295198,-0.959537,0.543985,-0.104627,0.475664,...,-0.227404,0.742435,0.398535,0.249212,0.274404,0.359969,0.243232,26.430000,0,1
1428,26,1.206142,0.285212,0.197292,0.503649,-0.037735,-0.306166,-0.041290,0.019870,-0.189595,...,-0.682624,0.107358,-0.185959,0.178220,0.118828,-0.012239,0.018387,2.690000,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130,53,1.220201,0.303970,0.227616,0.558264,-0.133937,-0.526423,-0.004372,-0.044327,-0.124809,...,-0.725880,0.113332,-0.034511,0.189094,0.111874,-0.015443,0.021992,2.690000,1,9
1484,553,-0.512238,0.180437,0.826830,-0.105225,0.397386,-0.609268,0.197535,-0.003000,0.019777,...,-0.449322,-0.102445,0.000157,-0.107412,0.180595,-0.212954,-0.213911,1.118693,1,3
1490,526,-2.007831,-2.391824,2.372124,1.206663,2.392456,0.547162,-2.120140,0.802409,0.871898,...,1.166715,0.280052,-0.829665,-0.213172,0.845096,-0.115631,-0.170413,1.465039,1,9
327,239,1.167527,-0.318288,0.502464,0.033904,-0.584285,0.024592,-0.413738,0.186412,0.605945,...,0.092396,-0.038321,0.115915,0.319733,1.125327,-0.058855,-0.014192,10.000000,0,5
526,389,1.228478,-1.097948,1.629013,-0.005550,-1.969868,0.250276,-1.381782,0.174507,0.641162,...,-0.566475,0.045969,0.475350,0.164650,1.069437,0.027740,0.026680,29.950000,0,1

In [64]:
x = cluster_data2.iloc[:,cluster_data2.columns!='Class']
y = cluster_data2.iloc[:,cluster_data2.columns=='Class']

In [65]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

Naive Bayes

In [66]:
classifier = GaussianNB()
classifier.fit(x_train, y_train)
y_pred21  =  classifier.predict(x_test)
score21=accuracy_score(y_pred21,y_test)
print(score21)

0.8809523809523809

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Random Forest

In [67]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)
y_pred22  =  rf.predict(x_test)
score22=accuracy_score(y_pred22,y_test)
print(score22)

<ipython-input-67-27b88b68a4f7>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

0.9920634920634921

Logistic Regression

In [68]:
logr = linear_model.LogisticRegression()
logr.fit(x_train, y_train)
pred23 = logr.predict(x_test)
score23=accuracy_score(pred23,y_test)
print(score23)

0.9523809523809523

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Decision Tree classifier

In [69]:
clf = DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)
y_pred24 = clf.predict(x_test)
score24=accuracy_score(y_pred24,y_test)
print(score24)

0.9841269841269841

KNN

In [70]:
knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train, y_train)
pred25=knn.predict(x_test)
score25=accuracy_score(pred25,y_test)
print(score25)

0.7619047619047619

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [71]:
multi_sampling=[score21,score22,score23,score24,score25]
multi_sampling

[0.8809523809523809,
 0.9920634920634921,
 0.9523809523809523,
 0.9841269841269841,
 0.7619047619047619]

Comibining all the calculated accuracies of different sampling techniques in a single table

In [56]:
df2=pd.DataFrame

In [72]:
model=['Naive Bayes','Random Forest','Logistic Regression','Decision Tree classifier','KNN']
finaltable= {
    'Models': model,
    'Simple random':simple_sampling,
    'Stratified' :stratified_sampling,
    'Systematic': systematic_sampling,
    'Cluster':cluster_sampling,
    'Multi stage': multi_sampling
          }
df2 = pd.DataFrame(finaltable)

In [73]:
df2

,Models,Simple random,Stratified,Systematic,Cluster,Multi stage
0,Naive Bayes,0.845794,0.898089,0.784314,0.803922,0.880952
1,Random Forest,0.995327,0.993631,0.993464,0.993464,0.992063
2,Logistic Regression,0.943925,0.949045,0.882353,0.875817,0.952381
3,Decision Tree classifier,0.967290,0.987261,0.960784,0.947712,0.984127
4,KNN,0.845794,0.777070,0.830065,0.823529,0.761905

From the above table we can conclude that Random forest shows maximum accuracy with all the above sampling techniques.